@{
    ViewData["Title"] = "Information List";
}

@model IEnumerable<Information>

<h1 class="bg-info text-white">Departments List</h1>
<a asp-action="Create" class="btn btn-secondary">Create department</a>
<table class="table table-bordered mt-3">
    <tr>
        <th>ID: </th>
        <th>Name: </th>
        <th>License: </th>
        <th>Established: </th>
        <th>Revenue: </th>
        <th>Update: </th>
        <th>Delete: </th>
    </tr>
    @foreach (Information dept in Model)
    {
        <tr>
            <td>@dept.Id</td>
            <td>@dept.Name</td>
            <td>@dept.License</td>
            <td>@dept.Established</td>
            <td>@dept.Revenue</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@dept.Id">Update</a>
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@dept.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    }
</table>